@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-brown-900: #26231e;
  --color-brown-800: #43403b;
  --color-brown-600: #75716b;
  --color-brown-500: #926f54;
  --color-brown-400: #bfbab5;
  --color-brown-300: #dad6d1;
  --color-brown-200: #efeeeb;
  --color-brown-100: #f9f8f6;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100svh;
    font-family: var(--font-poppins);
    color: var(--color-brown-800);
    background-color: var(--color-brown-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    min-height: 100svh;
  }
}
